<div *ngIf="user.name !== undefined">
  <!--<div>
    <label>Name:</label>
    <input type="text" [(ngModel)]="user.name" />
  </div>-->
  <div>
    <label>Language:</label>
    <select [(ngModel)]="user.language" >
      <option value="ua">{{manager.translate("UA")}}</option>
      <option value="en">{{manager.translate("EN")}}</option>
    </select>
  </div>
  <div>
    <label>Email:</label>
    <input type="text" [(ngModel)]="user.email" />
  </div>
  <div>
    <label>Old password:</label>
    <input type="password" [(ngModel)]="oldPassword" />
  </div>
  <div>
    <label>Password:</label>
    <input type="password" [(ngModel)]="newPassword1" />
  </div>
  <div>
    <label>Repeat password:</label>
    <input type="password" [(ngModel)]="newPassword2" />
  </div>
  <div>
    <input type="button" value="Save" (click)="edit()" />
  </div>
</div>
